@model LHBOL.LHUrl

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LHUrl</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LHUrlName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LHUrlName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LHUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LHUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UrlId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
